@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1dak9o');
  src:  url('fonts/icomoon.eot?1dak9o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1dak9o') format('truetype'),
    url('fonts/icomoon.woff?1dak9o') format('woff'),
    url('fonts/icomoon.svg?1dak9o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e986";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
