@charset "UTF-8";
body{
	background-color: lightgrey;
	font-family: sans-serif;
}
.lista1 li{
	list-style-type: none;
	text-align: center;
	float:left;
	font-weight: bold;
  	width: 200px;
  	border: 5px dashed purple;
  	padding: 10px 1px;
 	margin-right: 25px;
  	background-color: lightgreen;
  	color: purple;
}
.lista2{
	text-align: center;
}
.lista2 li{
	list-style-type: none;
  	display: inline;
  	border: white 2px solid;
  	border-color: white black black white;
  	background-color: white;
  	margin: 5px 5px;
  	padding: 5px 5px;
}
.lista2 li:hover {
  	border: white 2px solid;
  	border-color: black white white black;
  	background-color: lightgrey;
}
.lista3{
  width: 190px;
  border: black 1px solid;
  padding: 20px;
  text-align: center;
}
.lista3 li{
	list-style-type: none;
  	width: 150px;
  	border: black 1px solid;
  	margin-left: 6px;
  	margin-right: 6px;
  	margin-bottom: 6px;
  	margin-top: 6px;
  	padding: 10px;
  	background-color: white;
  	text-align: center;
}
.lista4{
	text-align: center;
}
.lista4 li{
	list-style-type: none;
	display: inline-block;
	width: 10em;
  	margin: 0;
  	padding-left: 10px;
  	padding-right: 10px;
  	padding-bottom: 10px;
  	padding-top: 10px;
  	background-color: white;
  	color: blue;
  	font-weight: bold;
}
.lista4 li.background {
  background-color: blue;
  color: white;
}

.lista5 li{
	list-style-type: none;
  	margin-right: 15px;
  	display: inline;
  	font-family: sans-serif;
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1dak9o');
  src:  url('fonts/icomoon.eot?1dak9o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1dak9o') format('truetype'),
    url('fonts/icomoon.woff?1dak9o') format('woff'),
    url('fonts/icomoon.svg?1dak9o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e986";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}

.lista6{
	text-align: center;
}

.lista6 li{
	list-style-type: none;
	background-color: white;
  	display: inline;
  	border: black 4px solid;
  	margin-right: 30px;
  	padding-right: 15px;
  	padding-left: 15px;
  	padding-bottom: 15px;
  	padding-top: 15px;
  	font-size: 200%;
  	line-height: 250%;
  	border-radius: 10px;
}
.final{
	position: fixed;
	bottom: 0;
	right: 0;
	border-top: 0.2em solid black;
	background-color: white;
	padding-bottom: 1em;
	width: 100%;
	height: 2em;
	text-align: center;
}
.autor{
	position:relative;
	display: inline-block;
	font-size: smaller;
}